@import "../../../Styles/variables.scss";

.list {
  display: flex;
  flex-direction: column;
  li {
    display: grid;
    align-items: center;
    background-color: $greyDark;
    grid-template-columns: repeat(3, 1fr) 40%;
    h2 {
      text-align: center;
      font-weight: bold;
    }
    & > * {
      border: 1px solid $greyLow;
      height: 100%;
      display: flex;
      padding: 0.2rem 1rem;
      gap: 1rem;
      align-items: center;
    }
  }
}
.buttons {
  display: flex;
  gap: 1rem;
}
