@import "../../../Styles/variables.scss";
@import "../../../Styles/mixins.scss";

.post_options {
    background-color: $bg-color;
    text-align: center;
    position: absolute;
    right: 1rem;
    cursor: pointer;
    top: 1rem;
    display: flex;
    height: fit-content;
    padding: 0.2rem;
    border-radius: 50%;
    font-size: 2rem;
    color: $grey;
    .post_optionsList {
      right: 0;
      top: 100%;
      color: $white;
      display: none;
      font-size: 14px;
      position: absolute;
      width: max-content;
      background: #444;
      &.view {
        display: flex;
        flex-direction: column;
        .item {
          gap: 8px;
          padding: 8px;
          font-size: 18px;
          cursor: pointer;
          @include flex-aic;
        }
      }
    }
  }
