@import '../../Styles/variables.scss';

.input{
    background: white;
    padding: 1rem;
    min-width: 100px;
    width: 100%;
    font-size: 1.2rem;
    border-radius: 8px;
    border-color: $grey;
}