@import "../../Styles/variables.scss";

.input {
  padding: 0.2rem;
  background: inherit;
  min-width: 100px;
  width: 100%;
  font-size: 1.2rem;
  border-radius: 2px;
  border: none;
  border-bottom: 2px solid $black;
  margin: 0.3rem 0;
}
.input::placeholder {
  color: $blackLow;
}
.input:focus {
  outline: none;
}
