html {
  color: #222;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #222;
}

li {
  list-style: none;
}
