@import "../../Styles/variables.scss";
.posts_wrap {
  position: relative;
  .noPosts {
    margin: 0 auto;
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-top: 3rem;
  }
  .header {
    color: $grey;
    display: flex;
    position: absolute;
    top: -2.5rem;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    .orders {
      gap: 1ch;
      display: flex;

      h2 {
        cursor: pointer;
      }
      .active {
        color: $white;
      }
    }
    .addLogo {
      font-size: 2rem;
      color: $yellow;
      cursor: pointer;
    }
  }
  .posts {
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }
}
