@import "../../Styles/variables.scss";

.User {
  background-color: rgba(28, 28, 28, 1);
  color: white;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .head_profile::after {
    content: "";
    background-color: rgba(255, 255, 1, 1);
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -10;
    bottom: 60%;
  }
  .head_profile {
    display: flex;
    z-index: 20;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-top: 8.5vw;
    .head_profile_central {
      position: relative;
      top: -5%;
      background-color: black;
      width: 75%;
      border-radius: 8px;
      z-index: -1;
      .photo {
        img {
          border-radius: 50%;
          outline: 7px $yellow solid;
          width: 15vw;
          height: 15vw;
          object-fit: cover;
          position: absolute;
          left: calc(50% - 7.5vw);
          top: -7.5vw;
        }
      }
      .details {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem;
        .buttons {
          display: flex;
          align-self: flex-end;
          justify-content: right;
          gap: 1rem;
          color: $yellow;
          width: fit-content;
          flex-wrap: wrap;
          max-width: calc(50% - 8vw);
        }
        .userInfo {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          width: 100%;
          min-height: 14vw;
          h1 {
            font-weight: bold;
          }
          .bio {
            text-align: center;
            margin-top: 1rem;
          }
          .editRole{
            background-color: black;
            color: white;
            border: none;
            min-width: 10vh;
            font-size: 1.2rem;
            margin-top: 1vh;
            font-weight: bold;
            outline: none;
            text-align: center;
              &option{
                border: 1px gray solid;
              }
          }
        }

        .details_bottom {
          display: flex;
          width: 100%;
          justify-content: space-between;
          align-items: center;
          position: relative;
          img {
            filter: invert(85%) sepia(100%) saturate(6179%) hue-rotate(342deg)
              brightness(111%) contrast(103%);
            width: 3rem;
            height: 3rem;
            cursor: pointer;
          }

          div {
            display: flex;
            gap: 1rem;
            div {
              gap: 1ch;
              h3 {
                color: $grey;
                font-weight: 400;
              }

              h3:first-child {
                color: $white;
                font-weight: 700;
              }
            }
          }
        }
      }
    }
  }
  .body_profile {
    display: grid;
    margin-top: 6rem;
    gap: 1rem;
    grid-template-columns: 1.3fr 2.5fr 1fr;
    width: 75%;
    position: relative;
    align-items: flex-start;
    .posts {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .filters {
        display: flex;
        position: absolute;
        gap: 1rem;
        font-size: 1.5rem;
        top: -3rem;
        color: $grey;
        h3 {
          cursor: pointer;
        }
        .active {
          color: $white;
        }
      }
    }
  }
}
