@import '../../Styles/variables.scss';

.User {
  background-color: rgba(28, 28, 28, 1);
  color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .header {
    background-color: rgba(255, 255, 1, 1);
    height: 30vh;
    width: 100vw;
    position: absolute;
    top: 0;
  }
  .head-profile {
    display: flex;
    z-index: 20;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    position: relative;
    top: 25vh;
    .head-profile-central {
      position: relative;
      top: -5%;
      background-color: black;
      width: 75%;
      height: 350px;
      border-radius: 8px;
      z-index: -1;
      .photo {
        img {
          border-radius: 50%;
          outline: 4px $yellow solid;
          width: 150px;
          height: 150px;
          object-fit: cover;
          position: absolute;
          left: calc(50% - 75px);
          top: -75px;
        }
      }
    }
  }

  .body-profile {
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    margin-top: 80px;
    margin-left: 12.5%;
    margin-right: 7.7%;
  }
  .follow-bar {
    background-color: black;
    max-width: 240px;
    border-radius: 20px;
    height: 600px;
    border: white 1.5px solid;
    h4 {
      text-align: center;
      padding-top: 25px;
    }
  }
  .central-profile {
    width: 750px;
    height: 600px;
  }
  .mistery-box {
    background-color: black;
    max-width: 240px;
    border-radius: 20px;
    height: 600px;
    border: white 1.5px solid;
  }
}
