@import "../../Styles/variables.scss";
@import "../../Styles/mixins.scss";

.aside_messages {
  background-color: $black;
  padding: 1rem;
  border-radius: 0.8rem;
  border: 1px solid $greyLow;
  color: $white;
  height: fit-content;
  display: flex;
  flex-direction: column;
  place-content: center;
  h2 {
    text-align: center;
  }
  .aside_resume_messages {
    display: flex;
    gap: 1rem;
    justify-content: left;
    flex-direction: column;

    .user {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 1rem;
      position: relative;
      gap: 1rem;
      div::after {
        content: "";
        width: 10px;
        z-index: 30;
        top: calc(50% - 5px);
        right: 0;
        aspect-ratio: 1/1;
        background-color: green;
        border-radius: 50%;
        position: absolute;
      }
    }
  }
}
