.postEmpleo {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
  max-width: 60vh;
  .linkEmpleo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 40vh;
  }
  img {
    width: 100%;
    height: auto;
    max-width: 100px;
    object-fit: scale-down;
    margin-bottom: 0.8rem;
  }
}

.contentBoom {
  position: relative;
  left: -25px;
  padding-bottom: 1rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 100px;
    height: auto;
    margin-bottom: 0.8rem;
  }
  h4 {
    margin-bottom: 0.5rem;
  }
}
