.linkEmpleo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contentBoom{
    position: relative;
    left: -25px;
    padding-bottom: 1rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        width: 100px;
        height: auto;
        margin-bottom: 0.8rem;
    }
    h4{
        margin-bottom: 0.5rem;
    }
}