@import "../../Styles/variables.scss";
@import "../../Styles/mixins.scss";

#cont {
  font-family: Roboto;
  background-color: $bg-color;
  min-height: 70vh;
  position: relative;
  top: 12vh;
  display: grid;
  place-items: center;

  header {
    display: flex;
    position: fixed;
    justify-content: space-around;
    height: 13vh;
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;

    #title_cont {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      img {
        width: auto;
        height: 80px;
        margin-left: 1.5rem;
      }

      h1 {
        font-size: 25px;
        color: $white;
      }
    }

    .act_btn {
      position: absolute;
      top: 40%;
      right: 25px;
      font-size: 1rem;
      background-color: $yellow;
      color: $bg-color;
      border: none;
      border-radius: 5px;
      width: max-content;
      height: max-content;
      padding: 8px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
    }
  }

  #form_cont {
    position: relative;
    width: 90%;
    height: 25rem;
    background-color: $yellow;
    box-shadow: $yellow 1px 1px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    form {
      @include flex-column;
      justify-content: space-around;
      align-items: center;
      gap: 1.5rem;
      height: 23.125rem;

      h3 {
        position: relative;
        top: 25px;
        text-align: center;
      }

      button[type="submit"] {
        background-color: $bg-secondary-color;
        color: $white;
        border: none;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        width: max-content;
        height: max-content;
        padding: 10px;

        &:disabled {
          background-color: gray;

          &:hover {
            cursor: default;
            transform: none;
            -webkit-transform: none;
            -moz-transform: none;
            -ms-transform: none;
            -o-transform: none;
          }
        }
      }

      #avt_cont {
        display: grid;
        place-items: center;
        position: absolute;
        left: -175px;
    
        img {
          border-radius: 50%;
          object-fit: cover;
          width: 150px;
          height: 150px;
        }
    
        #editIcon {
          background-color: $greyDark;
          padding: 5px;
          border-radius: 50px;
          position: absolute;
          bottom: 0;
          right: 20px;
          -webkit-border-radius: 50px;
          -moz-border-radius: 50px;
          -ms-border-radius: 50px;
          -o-border-radius: 50px;
          transition: 250ms ease-out;
          transition-property: border;
          -webkit-transition: 250ms ease-out;
          -moz-transition: 250ms ease-out;
          -ms-transition: 250ms ease-out;
          -o-transition: 250ms ease-out;
    
          &:hover{
            cursor: pointer;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
          }
        }
    
        input[type="file"] {
          display: none;
        }
      }
    }

    #alt_cont {
      display: flex;
      justify-content: center;
      gap: 25px;

      .alt_btns {
        background-color: $yellow;
        border: none;
        padding: 10px;
        font-size: 20px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
      }
    }
  }
}

@media (min-width: 750px) {
  #cont {
    position: static;
    min-height: 100%;

    button {
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.11);
        -moz-transform: scale(1.11);
        -ms-transform: scale(1.11);
        -o-transform: scale(1.11);
      }
    }

    header {
      height: 5rem;
      display: flex;
      justify-content: space-around;
      align-items: center;

      #title_cont {
        position: relative;
        right: 11.25rem;
        width: max-content;
        margin-left: 4rem;
      }

      .act_btn {
        width: 7rem;
        position: static;
        background-color: $bg-color;
        color: $yellow;
        border: 0.5px solid $yellow;
        transition: 300ms ease-out;
        transition-property: backgroud-color color;
        -webkit-transition: 300ms ease-out;
        -moz-transition: 300ms ease-out;
        -ms-transition: 300ms ease-out;
        -o-transition: 300ms ease-out;

        &:hover {
          background-color: $yellow;
          color: $bg-color;
        }
      }
    }

    #form_cont {
      width: 80%;
      height: fit-content;
      padding: 20px 0;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;

      form {
        width: 60%;
        margin: auto;
        position: relative;

        button[type="submit"] {
          align-self: flex-start;
          transition: transform ease-out 300ms;
          -webkit-transition: transform ease-out 300ms;
          -moz-transition: transform ease-out 300ms;
          -ms-transition: transform ease-out 300ms;
          -o-transition: transform ease-out 300ms;
        }
      }

      #alt_cont {
        .alt_btns {
          border: 1px solid $bg-secondary-color;
          transition: 300ms ease-in;
          transition-property: background-color color;
          -webkit-transition: 300ms ease-in;
          -moz-transition: 300ms ease-in;
          -ms-transition: 300ms ease-in;
          -o-transition: 300ms ease-in;

          &:hover {
            color: $yellow;
            background-color: $bg-secondary-color;
          }
        }
      }
    }
  }
}
