@import '../../Styles/variables.scss';
.button {
  cursor: pointer;
  background: transparent;
  color: $yellow;
  border: 2px $yellow solid;
  border-radius: 8px;
  align-items: center;

  font-size: 1.3rem;
  font-weight: 700;
  padding: 0.3rem 0.3rem;
  display: flex;
  gap: 0.5rem;
  img {
    width: 1rem;
    object-fit: cover;
  }
}
