@import "../../Styles/variables.scss";

$isDark: false;

:root {
  --brightness: #{if($isDark, 75%, 50%)};
  --animationSpeed: 0.5s;
  --placeholderSize: 0.5em;
  --placeholderInputGap: 0.25em;
  --underlineSize: 1em;
  --underlineColorActive: hsl(0deg, 0%, 0%);
  --underlineColorInactive: hsla(0, 100%, 0%, 1);
}

.settings_wrap {
  z-index: 2000;
  padding: 2rem;
  border-radius: 8px;
  display: flex;
  gap: 1rem;

  #avt_cont {
    display: grid;
    place-items: center;

    p {
      text-decoration: underline;
      position: relative;
      bottom: 0;

      &:hover {
        cursor: pointer;
      }
    }

    div {
      width: 100%;
      height: max-content;
      position: relative;

      img {
        border-radius: 50%;
        object-fit: cover;
        width: 200px;
        height: 200px;
      }
  
      #editIcon {
        background-color: $greyDark;
        padding: 5px;
        border-radius: 50px;
        position: absolute;
        bottom: 0;
        right: 20px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
        transition: 200ms ease-out;
        transition-property: border;
        -webkit-transition: 250ms ease-out;
        -moz-transition: 250ms ease-out;
        -ms-transition: 250ms ease-out;
        -o-transition: 250ms ease-out;
  
        &:hover {
          cursor: pointer;
          border-radius: 10px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px;
        }
      }
  
      input[type="file"] {
        display: none;
      }
    }

  }

  .inputBox {
    display: flex;
    flex-direction: column;
    h3 {
      font-weight: bold;
    }
  }

  .buttons {
    display: flex;
    gap: 1rem;
  }
  .settings_photo {
    background-color: white;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  .name {
    margin-left: 160px;
    margin-top: 40px;
    font-weight: bold;
  }

  .hr {
    width: 750px;
    margin-bottom: 25px;
  }

  .body_settings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 750px;
    margin-left: 160px;
    align-items: flex-start;
    height: 180px;
    margin-bottom: 20px;
  }

  .text_area {
    width: 750px;
    height: 120px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
  }

  .option_buttons {
    display: flex;
    justify-content: space-around;
    width: 270px;
    button {
      background-color: rgb(255, 255, 1);
      border-radius: 5px;
      border: black 1.5px solid;
      font-weight: bold;
      padding: 5px 7px 5px 7px;
    }
    button:hover {
      background-color: rgba(248, 248, 109, 0.897);
    }
  }

  .spaneo {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: calc(var(--placeholderSize) + var(--placeholderInputGap));
    padding-bottom: 0.75em;
    input {
      height: 4vh;
      width: 100%;
      font-size: 1.3em;
      background-color: transparent;
      border: none;
      border-bottom: 2px solid var(--underlineColorInactive);
      transition: border var(--animationSpeed);
      will-change: border;
      outline: none;
      &::placeholder {
        color: transparent;
      }
      & + span {
        text-align: left;
        position: absolute;
        font-size: 1.2em;
        left: 0.05em;
        top: 0;
        transition: top var(--animationSpeed), font-size var(--animationSpeed);
        will-change: top, font-size;
        pointer-events: none;
        width: 100%;
      }
      &:focus,
      &:not(:placeholder-shown) {
        border-bottom-color: black;
        & + span {
          top: calc(-1em - 2 * var(--placeholderInputGap));
          font-size: var(--placeholderSize);
        }
      }
    }
  }

  .footer_settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
  }

  .input {
    width: 750px;
    height: 40px;
    background-color: rgba(255, 255, 1, 1);
    border: rgba(255, 255, 1, 1) 1px solid;
    border-bottom: black 1px solid;
    font-size: 16px;
  }

  .input:focus {
    outline: rgba(255, 255, 1, 1);
  }

  .footer_buttons {
    width: 300px;
    height: 35px;
    display: flex;
    justify-content: space-around;
    margin-left: 160px;
    margin-top: 20px;
  }

  .submit_button {
    border-radius: 10px;
    background-color: black;
    color: white;
    font-weight: bold;
    border: black 1px solid;
    padding: 0px 15px 0px 15px;
  }

  .cancel_button {
    border-radius: 5px;
    border: rgba(255, 255, 1, 1) 1px solid;
    background-color: rgba(255, 255, 1, 1);
    font-weight: bold;
    text-decoration: underline;
  }
  .delete_button {
    border-radius: 5px;
    border: rgba(255, 255, 1, 1) 1px solid;
    background-color: rgb(255, 1, 1);
    font-weight: bold;
    font-size: 10px;
    text-decoration: underline;
    gap: 1rem;
  }
  .changeKey {
    color: red;
    cursor: pointer;
    position: absolute;
    margin-top: 2vh;
    text-decoration: underline;
  }
}
