@import "../../Styles/variables.scss";
@import "../../Styles/mixins.scss";

.post {
    background-color: $bg-secondary-color;
    padding: 1rem 2rem;
    border-radius: .8rem;
    border: 1px solid $white;
    height: fit-content;
    color: $white;
    .post_content {
        padding: 2rem;
    }
    .post_profile {
        display: flex;
        justify-content: space-between;
        place-items: flex-start;
        .post_profile_info {
            display: flex;
            gap: 1.5rem;
            p {
                font-size: 1.1rem;
                span {
                    font-size: .9rem;
                    color:#646464
                }
            }
        }
        .post_profile_img {
            width: 3rem;
            height: 3rem;
            border-radius: 100%;
            border: 1px solid $yellow;
            background: url("https://assets.soyhenry.com/henry-landing/assets/peopleImages/sofi.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
        .post_options {
            background-color: #0d0d0d;
            text-align: center;
            height: 2rem;
            width: 2rem;
            padding: .2rem;
            border-radius: 100%;
            font-size: 2rem;
            color: $bg-color;
        }
    }

    .post_interacciones {
        display: flex;
        justify-content: space-between;
        place-items: flex-start;
        svg {
            font-size: 1.5rem;
        }

        .post_like_comments {
            display: flex;
            gap: 2rem;
            div {
                display: flex;
                place-items: center;
                gap: .6rem;
            }


        }
        .post_icon {
            color:$yellow;
            span {
                color: $white;
            }
        }
    }
}