@import "../../Styles/variables.scss";
@import "../../Styles/mixins.scss";

.postContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: black;
  .post{
    gap: 1rem;
    width: 100%;
    padding: 1.5rem;
    border-radius: 8px;
    border: 1px solid $grey;
    height: max-content;
    cursor: pointer;
    display: flex;
    color: $white;
    position: relative;
    &.postJob {
      box-shadow: 0 0 5px 5px #1a5fc733;
      border: 1px solid #1a5fc7;
      .post_wrap{
        width: max-content;
      }
    }
    &.postBoom {
      box-shadow: 0 0 7px 7px #af542033;
      border: 1px solid #af2020;
    }
    &.postPregunta {
      border-color: #9dae31;
      box-shadow: 0 0 5px 5px #9dae3144;
      .post_wrap {
        .post_content {
          margin-left: 4rem;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          margin-top: 1rem;
        }
        .responseAuthor {
          color: $greyLow;
          strong {
            color: $white;
            text-decoration: underline;
          }
        }
        .responseForm {
          display: flex;
          width: 100%;
          gap: 1rem;
          align-items: center;
          textarea {
            border: none;
            border-radius: 8px;
            width: 80%;
            font-family: "$font";
            background-color: $greyLight;
            font-size: 1.3rem;
            padding: 0.3rem;
            padding-left: 1rem;
            resize: none;
            word-wrap: break-word;
          }
          textarea:focus-visible,
          &:active {
            outline: none;
            border: none;
          }
          svg {
            color: $yellow;
            font-size: 2rem;
          }
        }
      }
    }  
    &.shared{
      border-radius: 0;
      border: 1px solid rgba(128, 128, 128, 0.5);
    }
    .post_wrap {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}
