@import "../../Styles/variables.scss";

.share {
  width: 90%;
  display: flex;
  background-color: $greyDark;
  padding: 10px;
  box-shadow: inset 0px 10px 5px 0px #00000044;
  border-radius: 0 0 8px 8px;
  height: max-content;
  flex-direction: column;
  textarea,
  input {
    outline: none;
    border: none;
    background: transparent;
    &[type="submit"] {
      padding: 10px;
      cursor: pointer;
      font-size: 14px;
      margin-left: auto;
      font-weight: bold;
      border-radius: 5px;
      background-color: $yellow;
      transition: transform 0.5s ease;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  textarea {
    width: 100%;
    resize: none;
    color: $white;
    font-size: 16px;
    margin-top: 15px;
    font-family: inherit;
  }
}
