@import "../../Styles/variables.scss";
.comment {
  position: relative;
  left: 0;
  display: flex;
  align-items: center;
  width: 90%;
  z-index: 1;
  padding: 2rem;
  padding-top: 2rem;
  box-shadow: inset 0px 10px 5px 0px #00000044;
  border-radius: 0 0 8px 8px;
  background-color: $greyDark;
  justify-content: center;
  gap: 1rem;
  input {
    width: 80%;
    border-radius: 8px;
    background-color: $greyLight;
    padding: 0.7rem;
    padding-left: 1rem;
    border: none;
    font-size: 1rem;
  }
  input:focus {
    outline: none;
  }
  svg {
    cursor: pointer;
    color: $yellow;
    font-size: 1.5rem;
  }
}
