.box{
  gap: 1rem; 
  display: flex;
  align-items: center;
  animation: placeholder ease .5s infinite alternate;
  @keyframes placeholder {
    to{opacity: .5;}
  }
  .image, .text{
      background-color: #444;
  }
  .image {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
  }
  .text {
      width: 60%;
      height: 1.5rem;
      border-radius: .5rem;
  }    
}
