@import "../../Styles/mixins.scss";
@import "../../Styles/variables.scss";

#postDetail{
  display: flex;
  position: relative;
  background: $bg-color;
  justify-content: center;
  #navbar{
    top: 0;
    z-index: 10;
    width: 100%;
    height: 80px;
    position: fixed;
    background: $blackLow;
  }
  #content{
    gap: 30px;
    display: flex;
    margin: 120px 0px;
    #boxPost{
      width: 500px;
      #post{
        width: 100%;
        height: 300px;
        background: $blackLow;
        border-radius: 10px;
      }
    }
    #follow-bar, #messages{
      width: 250px;
      height: 500px;
      background: $blackLow;
    }
  }
}