@import "../../Styles/variables.scss";
@import "../../Styles/mixins.scss";

.resetPassword{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 25vh;
    a{
        text-decoration: underline;
    }
    .buttons{
        display: flex;
        justify-content: space-around;
        width: 35vh;
        .act_btn {
            width: 7rem;
            height: 4vh;
            border-radius: 1vh;
            position: static;
            background-color: $bg-color;
            color: white;
            font-weight: 500;
            border: 0.5px solid $yellow;
            transition: 300ms ease-out;
            transition-property: backgroud-color color;
            -webkit-transition: 300ms ease-out;
            -moz-transition: 300ms ease-out;
            -ms-transition: 300ms ease-out;
            -o-transition: 300ms ease-out;
        
            &:hover {
                background-color: $yellow;
                color: $bg-color;
                border: 0.5px solid black;
            }
        }
    }
}