@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

// colors
$white: #ffffff;
$light: #dddddd;
$black: #000;
$yellow: #ffff01;
$skyblue: #57a1f5;
$bg-color: #0d0d0d;
$blackLow: #1f1f1f;
$bg-secondary-color: #0a0a0a;
$grey: #939393;
$greyLight: #c4c4c4;
$greyDark: #424242;

//fonts

$font: "Roboto", sans-serif;
